<div class="form-field">
    <label for="autoplay">{{ __( 'Autoplay', 'awesome-framework' )}}</label>
    <input type="checkbox" name="placement_meta[autoplay]" id="autoplay" class="autoplay" value="1">
    <p>
    {{ __('Check to have slide automatically scroll.', 'awesome-framework') }}
    </p>
</div>
<div class="form-field">
    <label for="autoplaySpeed">{{ __( 'Autoplay Speed', 'awesome-framework' )}}</label>
    <input type="number" step="100" name="placement_meta[autoplaySpeed]" id="autoplaySpeed" class="autoplaySpeed" value="3200">
    <p>
        {{ __('enter value in milliseconds. Default 3200 milliseconds (3.2 seconds)', 'awesome-framework') }}
    </p>
</div>
<div class="form-field">
    <label for="height">{{ __( 'Slider Height', 'awesome-framework' )}}</label>
    <input type="number" step="10" name="placement_meta[height]" id="height" class="height" value="600">
    <p>
        {{ __('enter value in pixels. Defaults to 600px', 'awesome-framework') }}
    </p>
</div>
<div class="form-field">
    <label for="arrows">{{ __( 'Show Arrows', 'awesome-framework' )}}</label>
    <input type="checkbox" name="placement_meta[arrows]" id="arrows" class="arrows" value="1">
</div>