<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="package-info" style="width: 40%; float: left;">
    <h3>Active Packages</h3>
        {% if current_packages %}
            <table style="width:100%" border="1">
                <tr>
                    <th style="text-align: left;">Client</th>
                    <th style="text-align: left;">Package Title</th>
                    <th style="text-align: left;">Quantity</th>
                    <th style="text-align: left;">Remaining</th> 
                    <th style="text-align: left;">Modify</th>
                </tr>
                    {% for package in current_packages %}
                        <tr>
                            <td>{{ package.user.name }}</td>
                            <td>{{ package.title }}</td>
                            <td>{{ package.quantity }}</td>
                            <td>{{ package.remaining }}</td>
                            <td>
                                <input style="width: 9rem;" id="{{package.id}}-quantity-update" placeholder="Quantity remaining">
                                <button onclick="modifyUserPackage({{package.id}})">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
        <p>No current packages found</p>
        {% endif %}
        <hr>
    <h3>Fully Used Packages</h3>
        {% if previous_packages %}
            <table style="width:100%" border="1">
                <tr>
                    <th style="text-align: left;">Client</th>
                    <th style="text-align: left;">Package Title</th>
                    <th style="text-align: left;">Quantity</th>
                    <th style="text-align: left;">Remaining</th> 
                    <th style="text-align: left;">Modify</th>
                </tr>
                    {% for package in previous_packages %}
                        <tr>
                            <td>{{ package.user.name }}</td>
                            <td>{{ package.title }}</td>
                            <td>{{ package.quantity }}</td>
                            <td>{{ package.remaining }}</td>
                            <td>
                                <input style="width: 9rem;" id="{{package.id}}-quantity-update" placeholder="Quantity remaining">
                                <button onclick="modifyUserPackage({{package.id}})">Update</button>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
        <p>No current packages found</p>
        {% endif %}
</div>
<div class="package-modify" style="width: 45%; float: left; margin-left: 1rem; padding-left: 1rem; border-left: solid 1px lightgray;">
    <h3>Add a package to a user</h3>
    
    <div class="package-add">
        <input list="users" id="user-select" placeholder="Select customer">
        <datalist id="users">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.name }}</option>
            {% endfor %}
        </datalist>
        <input list="packages" id="package-select" placeholder="Select package">
        <datalist id="packages">
            {% for package in packages %}
                <option value="{{ package.id }}">{{ package.title }}</option>
            {% endfor %}
        </datalist>  
        <input id="quantity-select" placeholder="Quantity remaining">
        <button onclick="addUserPackage()">Add</button>
    </div>
    <hr>
    <div class="package-modify">
        <h3>Edit how many appointments are remaining in a package</h3>
    </div>
</div>